<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <center>
            <img src="https://i.ibb.co/HNSB1vf/hello.png" alt="hello" border="0">
            <h1 style="
                font-family: 'Ink Free';
                font-size: 400%;
                font-weight: 300;
        ">Hey There!</h1>
            <p style="
                font-family: 'Lato';
                font-size: 120%;
                font-style: italic;
                line-height: 160%;
            ">
                I see you have initiated contact with me and that makes me Happy. <br />
                The world is a small place an I really hope we do meet up (if we haven't already).<br />
                Till then please feel free to contact me anytime on this email or on Any of my Social Media handles
            </p>
            <hr style="margin-top: 2%" />
            <div style="display: inline; padding-top: 1%; border: 0;">
                <a href="https://github.com/Mitrajeet-Golsangi/" style="text-decoration: none;">
                    <img style='width: 70px' src="https://i.ibb.co/b1FL0yD/Git-Hub-Logo.png" alt="Git-Hub-Logo" border="0">
                </a>
                <a style="text-decoration: none; margin-left: 2%;" href="#">
                    <img style='width: 30px' src="https://i.ibb.co/KrnfbMH/hackerrank.png" alt="hackerrank" border="0">
                </a>
                <a style="text-decoration: none; margin-left: 2%;" href="https://instagram.com/mitrajeet_golsangi/">
                    <img style='width: 30px' src="https://i.ibb.co/PCxqXKt/instagram.png" alt="instagram" border="0">
                </a>
                <a style="text-decoration: none; margin-left: 2%;" href="https://www.linkedin.com/in/mitrajeet-golsangi-b939611ab/">
                    <img style='width: 30px' src="https://i.ibb.co/znMfjvz/linkedin.png" alt="linkedin" border="0">
                </a>
                <a style="text-decoration: none; margin-left: 2%;" href="https://medium.com/@mitrajeetgolsangi/">
					<img style='width: 30px' src="https://i.ibb.co/xHzS18y/medium.png" alt="medium" border="0" />
				</a>
            </div>
            <p style="margin-top: 4%;">
                Your are recieving this email as a result of you sending me an email on my webiste <br />
                Rest assured I am not going to spam your inbox
            </p>
        </center>
        <script src="https://kit.fontawesome.com/50ddfb19c8.js" crossorigin="anonymous"></script>
    </body>

</html>